body {
    margin: 0;
    margin-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: #A7C4A0;
    border: 1px solid #8F8389;
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}

section {
    height: 100vh;
    border: 1px solid #8F8389;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#about .profile-img {
    transform: rotate(180);
    width: 300px;
    border-radius: 50%;
}

#contact .csm-seal {
    width: 300px;
    border-radius: 50%;
}

footer {
    text-align: center;
    padding: 50px;
    background-color: #A7C4A0;
    border: 1px solid #8F8389;
}

section h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 6.5em;
}

section h2 {
    font-size: 1.5em;
}

section h3 {
    font-size: 1.5em;
}

section ul {
    display: inline-block;
}

section li {                   
    align-items: center;
    list-style-position: inside;
}

header a {
    text-decoration: none;
    color: black;
}

#home {
    background-color: #C2EABA;
}

#about {
    background-color: #C5f4E0;
}

#contact {
    background-color: #E6EFE9;
}

#projects {
    background-color: #C5f4E0;
}

#projects h1 {
    font-size: 3em;
}